@import '../styles/scrollbar.less';

* {
    /* 滚动条 */
    .dark-mode();
    /* 文本 */
    font-size: 15px;
    user-select: none;
    font-family: "Microsoft YaHei", sans-serif;
}

body {
    /* 位置 */
    position: relative !important;
    /* 颜色 */
    color: var(--color-basic-white);
}

#app {
    /* 位置 */
    position: absolute !important;
    width: 100vw !important;
    height: 100vh !important;
}