@import '../base/root.css';

button {
    /* 尺寸 */
    border: 0px;
    border-radius: 4px;
    padding: 8px 15px;
    /* 颜色 */
    color: var(--color-basic-white);
    background-color: var(--color-brand);
    /* 其它 */
    cursor: pointer;

    &:hover {
        filter: brightness(0.9);
    }

    &:active {
        filter: brightness(1.1);
    }

    &:disabled {
        color: var(--color-foreground-disabled);
        filter: brightness(0.8);
    }
}

.square-button {
    width: 35px;
    height: 35px;
    padding: 0px;
    font-size: 16px;
    font-family: 'iconfont';
}

.circle-button {
    // 变量:
    @CornerRadius: 16px;
    // 样式:
    .btn_clear();
    width: @CornerRadius;
    height: @CornerRadius;
    border-radius: @CornerRadius;
    font-size: 12px !important;
    background: transparent;

    &:hover {
        background: var(--color-white-25);
    }

    &:active {
        background: var(--color-white-50);
    }
}

.btn_clear {
    /* 尺寸 */
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    /* 颜色 */
    background: none;
    box-shadow: none;
    /* 样式 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* 其它 */
    cursor: pointer;
}