@import './panels.less';

.ellipsis {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.input-border {
    /* 尺寸: */
    border: 1px solid;
    border-radius: 2px;
    padding: 5px 10px;
    /* 颜色: */
    color: var(--theme-color);
    background: var(--theme-input-background);
    border-color: var(--theme-border);
    /* 过渡: */
    transition: var(--Global-Transition);
    /* 文本: */
    line-height: 1.5;

    &:hover {
        border-color: var(--theme-border-hover);
    }

    &:focus {
        border-color: var(--theme-border-active);
    }

    &:disabled {
        color: var(--theme-color-disabled);
        border-color: var(--theme-border-disabled);
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
textarea {
    /* 尺寸: */
    .input-border()
}

input[type="checkbox"] {
    @size: 18px;
    @font-size: 14px;
    /* 显示: */
    .flex-center();
    /* 尺寸: */
    width: @size;
    height: @size;
    border: 2px solid;
    border-radius: 4px;
    /* 颜色: */
    color: white;
    border-color: var(--theme-border);
    /* 过渡: */
    transition: var(--Global-Transition);

    &::after {
        /* 文本: */
        content: "✔";
        font-size: @font-size;
        /* 透明度: */
        opacity: 0;
    }

    &:checked {
        /* 颜色: */
        border-color: var(--theme-brand);
        background: var(--theme-brand);

        &::after {
            /* 透明度: */
            opacity: 1;
        }
    }

    &:disabled {
        color: var(--theme-color-disabled);
        border-color: var(--theme-border-disabled);
        background: var(--theme-mask-hover);
    }
}