.display-none {
  display: none !important;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center > * {
  flex-grow: 0;
  flex-shrink: 0;
}
.flex-stretch {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
.flex-stretch > * {
  flex-grow: 1;
  flex-shrink: 0;
}
.ellipsis {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
.input-border {
  /* 尺寸: */
  border: 1px solid;
  border-radius: 2px;
  padding: 5px 10px;
  /* 颜色: */
  color: var(--theme-color);
  background: var(--theme-background-input);
  border-color: var(--theme-border);
  /* 过渡: */
  transition: var(--Global-Transition);
  /* 文本: */
  line-height: 1.5;
}
.input-border:hover {
  border-color: var(--theme-border-hover);
}
.input-border:focus {
  border-color: var(--theme-border-active);
}
.input-border:disabled {
  color: var(--theme-color-disabled);
  border-color: var(--theme-border-disabled);
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
textarea {
  /* 尺寸: */
  /* 尺寸: */
  border: 1px solid;
  border-radius: 2px;
  padding: 5px 10px;
  /* 颜色: */
  color: var(--theme-color);
  background: var(--theme-background-input);
  border-color: var(--theme-border);
  /* 过渡: */
  transition: var(--Global-Transition);
  /* 文本: */
  line-height: 1.5;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
textarea:hover {
  border-color: var(--theme-border-hover);
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: var(--theme-border-active);
}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="search"]:disabled,
textarea:disabled {
  color: var(--theme-color-disabled);
  border-color: var(--theme-border-disabled);
}
input[type="checkbox"] {
  /* 显示: */
  display: flex;
  align-items: center;
  justify-content: center;
  /* 尺寸: */
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-radius: 4px;
  /* 颜色: */
  color: white;
  border-color: var(--theme-border);
  /* 过渡: */
  transition: var(--Global-Transition);
}
input[type="checkbox"] > * {
  flex-grow: 0;
  flex-shrink: 0;
}
input[type="checkbox"]::after {
  /* 文本: */
  content: "✔";
  font-size: 14px;
  /* 透明度: */
  opacity: 0;
}
input[type="checkbox"]:checked {
  /* 颜色: */
  border-color: var(--theme-brand);
  background: var(--theme-brand);
}
input[type="checkbox"]:checked::after {
  /* 透明度: */
  opacity: 1;
}
input[type="checkbox"]:disabled {
  color: var(--theme-color-disabled);
  border-color: var(--theme-border-disabled);
  background: var(--theme-mask-hover);
}
