.display-none {
  display: none !important;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center > * {
  flex-grow: 0;
  flex-shrink: 0;
}
.flex-stretch {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
.flex-stretch > * {
  flex-grow: 1;
  flex-shrink: 0;
}
