.display-none {
    display: none !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;

    &>* {
        flex-grow: 0;
    }
}

.flex-stretch {
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    &>* {
        flex-grow: 1;
    }
}