@import '../0_tigersan_ui/assets.css';
// @import './theme.css';

* {
    user-select: none;
}

body {
    /* 位置 */
    position: relative;
    /* 字体 */
    font-size: 16px;
    font-family: "Microsoft YaHei", sans-serif;
    /* 颜色 */
    color: var(--color-basic-white);
}

#back {
    /* 位置 */
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* 背景 */
    filter: brightness(0.8);
    // background: rgb(211, 211, 211);
    // background-image: url('http://www.tigersan.cn/0_file/image/pond.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#app {
    @margin: 0px;
    /* 位置 */
    position: absolute;
    /* 尺寸 */
    margin: @margin;
    width: calc(100vw - @margin * 2);
    height: calc(100vh - @margin * 2);
    border-radius: 10px;
    /* 背景 */
    // backdrop-filter: blur(1px);
    // background: rgba(255, 255, 255, 0.15);
}