@import '../0_tigersan_ui/assets/styles/scrollbar.less';

* {
    .minimalist();
}

// :root {
//     /* [主色] */
//     --color-brand: #FF6A00;
//     --color-brand-75: #FF6A00BF;
//     --color-brand-50: #FF6A007F;
//     --color-brand-25: #FF6A0040;
//     --color-brand-10: #FF6A001A;
// }

/* 【主题】 */
:root {
    /* [主色] */
    --theme-brand: var(--color-brand);
    /* [前景] */
    --theme-color: rgba(0, 0, 0, .85);
    --theme-color-disabled: var(--color-disabled-text);
    --theme-color-placeholder: var(--color-placeholder-text);
    --theme-button-color-disabled: var(--color-foreground-disabled);
    /* [背景] */
    --theme-card-background: white;
    --theme-panel-background: #f0f2f5;
    --theme-input-background: white;
    --theme-input-background-disabled: var(--color-black-10);
    /* [边框] */
    --theme-border: rgb(217, 217, 217);
    --theme-border-hover: var(--theme-brand);
    --theme-border-active: var(--theme-brand);
    --theme-border-disabled: var(--color-dark-border);
    --theme-border-divider: #E5E5E5;
    /* [遮罩] */
    --theme-mask-hover: var(--color-black-10);
    --theme-mask-active: var(--color-black-50);
    /* [链接] */
    --theme-link-color: #34a1ff;
    /* [按钮] */
    --theme-button-color: var(--color-primary-text);
    /* [导航] */
    --theme-nav-color: var(--color-primary-text);
    --theme-nav-color-hover: var(--color-primary-text);
    --theme-nav-color-selected: var(--color-primary-text);
    --theme-nav-background: rgb(212, 109, 36);
    --theme-nav-item-background-hover: var(--color-white-10);
    --theme-nav-item-background-selected: var(--color-white-25);
    --theme-nav-line-background: var(--color-black-25);
    --theme-nav-logo-border-padding: 5px;
    --theme-nav-logo-border-background: white;
    --theme-nav-logo-border-radius: 0 30px 30px 0;
    /* [表格] */
    --theme-table-header-background: #fafafc;
    --theme-table-line-background: var(--color-black-25);
    /* [弹窗] */
    --theme-dialog-title-color: var(--color-primary-text);
}